body {
    padding: 0;
    margin: 0;
    background-color: #222222 !important;
}



.chesscontainer {
    margin-left:auto;
    margin-right: auto;
    margin-top: 2rem;
    color: #fff;
}

.square {
    margin: 0px;
    padding: 0px;
}

.brown {
    background-color: #8b4513;
}

.tan {
    background-color: #cd853f;
}

.fill {
    min-height: 100%;
    height: 100%;
}
.chessRow {
    margin: 0px;
    padding: 0px;
}
.chesstable{
    border:none;
    border-collapse: collapse;
    width:100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.shakeit{
    animation: shake 0.4s;
    animation-iteration-count: 1;
}

.shakeallways{
    animation: shake 0.4s;
    animation-iteration-count: infinite;
}

.tabledata{

    margin: 0px;
    padding: 0px;
}


.moveable:hover{
    background-color: #68faff;
}



@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.selected{
    background-color: #68faff;
}

.selectableField{
    background-color: #9eff9b;
}
.selectableField:hover{
    background-color: #ff5856;
}

.outer{
    width:100%;
}
.inner{
    width:50%;
    margin:0 auto;
    text-align:center;
}

.avatar{
    height:10px;
}


body.loading .modal {
    display: block;
}
body.loading .modal {
    overflow: hidden;
}

img {
    margin: 0px;
    padding: 0px;
}



@media (min-width: 270px) {
    .chesscontainer {
        width: 270px;
        height: 270px;
    }
    img, .chessRow{
        height: 30px;
    }
    h2{
        font-size: 1rem !important;
    }
    .frametop{
        height: 7.5px;
    }
    .frameside{
        width: 7.5px;

    }
}
@media (min-width: 510px) {
    .chesscontainer {
        width: 510px;
        height: 510px;
    }
    img, .chessRow{
        height: 60px;
    }

    h2{
        font-size: 1rem !important;
    }

    .frametop{
        height: 15px;
    }
    .frameside{
        width: 15px;

    }
}

@media (min-width: 850px) {
    .chesscontainer {
        width: 850px;
        height: 850px;
    }

    img, .chessRow{
        height: 100px;
    }

    h2{
        font-size: 1.5rem !important;
    }
    .frametop{
        height: 25px;
    }
    .frameside{
        width: 25px;

    }
}


.flip > td {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    text-align: left;

}
.frameside, .frametop{
    vertical-align: top;
    text-align: left;
    background-color: #562b0e;
}
.upsidedown{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}