@import controllers.AssetsFinder

@()(implicit assets: AssetsFinder)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
    <title>Schach</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" media="screen" href="@assets.path("stylesheets/chess.css")">
    <link rel="shortcut icon" type="image/png" href="@assets.path("images/favicon.png")">
    <script src="@assets.path("javascripts/moveset.js")" type="text/javascript"></script><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="@assets.path("javascripts/SocketCommunication.js")"></script>
        <script src=@assets.path("javascripts/jquery.growl.js") type="text/javascript"></script>
        <link href=@assets.path("stylesheets/jquery.growl.css") rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="chesscontainer">
            <div class="outer">
                <div class="inner">
                    <h2>Mit welcher Farbe möchten Sie spielen?</h2>
                    <button id="white" type="button" class="btn btn-outline-dark"><img src="@assets.path("images/white_king.png")"></button>
                    <button id="black" type="button" class="btn btn-outline-dark"><img src="@assets.path("images/black_king.png")"></button>
                </div>
            </div>
        </div>
    </body>
</html>