@import controllers.AssetsFinder

@()(implicit assets: AssetsFinder)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>Schach</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" media="screen" href="@assets.path("stylesheets/chess.css")">
        <link rel="shortcut icon" type="image/png" href="@assets.path("images/favicon.png")">
        <script src="@assets.path("javascripts/moveset.js")" type="text/javascript"></script><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="@assets.path("javascripts/SocketCommunication.js")"></script>
        <script src=@assets.path("javascripts/jquery.growl.js") type="text/javascript"></script>
        <link href=@assets.path("stylesheets/jquery.growl.css") rel="stylesheet" type="text/css"/>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src=@assets.path("javascripts/vueCode.js") type="text/javascript"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">Schach</span>
        </nav>
        <div class="chesscontainer">
            <div class="outer">
                <div class="inner" id="colorSelect">
                    <h2>Mit welcher Farbe möchten Sie spielen?</h2>
                    <todo-item
                    v-for="item in colorList"
                    v-bind:todo="item"
                    v-bind:key="item.id"
                    ></todo-item>
                </div>
            </div>
        </div>
    </body>
</html>